html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

.content {
  width: 500px;
  margin: 0 auto;
}

.button {
  display: none;
  position: fixed;
  right: 20px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: #000 url("../img/up_arrow.png") no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  z-index: 1000;
}

.button:hover,
.button:hover {
  opacity: 0.8;
}

.button-up {
  bottom: 70px;
}

.button-down {
  bottom: 20px;
  transform: rotate(180deg);
}
