html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

.fag-item {
  margin: 10px;
}

.fag-question {
  text-decoration: underline;
}

.fag-question:hover {
  cursor: pointer;
  text-decoration: none;
}

.fag-answer {
  display: none;
}
